# Examining Racial Discrimination in the US Job Market

### Background
Racial discrimination continues to be pervasive in cultures throughout the world. Researchers examined the level of racial discrimination in the United States labor market by randomly assigning identical résumés to black-sounding or white-sounding names and observing the impact on requests for interviews from employers.

### Data
In the dataset provided, each row represents a resume. The 'race' column has two values, 'b' and 'w', indicating black-sounding and white-sounding. The column 'call' has two values, 1 and 0, indicating whether the resume received a call from employers or not.

Note that the 'b' and 'w' values in race are assigned randomly to the resumes when presented to the employer.

<div class="span5 alert alert-info">
### Exercises
You will perform a statistical analysis to establish whether race has a significant impact on the rate of callbacks for resumes.

Answer the following questions **in this notebook below and submit to your Github account**. 

   1. What test is appropriate for this problem? Does CLT apply?
   2. What are the null and alternate hypotheses?
   3. Compute margin of error, confidence interval, and p-value.
   4. Write a story describing the statistical significance in the context or the original problem.
   5. Does your analysis mean that race/name is the most important factor in callback success? Why or why not? If not, how would you amend your analysis?

You can include written notes in notebook cells using Markdown: 
   - In the control panel at the top, choose Cell > Cell Type > Markdown
   - Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet


#### Resources
+ Experiment information and data source: http://www.povertyactionlab.org/evaluation/discrimination-job-market-united-states
+ Scipy statistical methods: http://docs.scipy.org/doc/scipy/reference/stats.html 
+ Markdown syntax: http://nestacms.com/docs/creating-content/markdown-cheat-sheet
</div>
****

In [41]:
import pandas as pd
import numpy as np
from scipy import stats

In [9]:
data = pd.io.stata.read_stata('data/us_job_market_discrimination.dta')

In [10]:
# number of callbacks for black-sounding names
sum(data[data.race=='b'].call)

157.0

In [11]:
data.head()

,id,ad,education,ofjobs,yearsexp,honors,volunteer,military,empholes,occupspecific,...,compreq,orgreq,manuf,transcom,bankreal,trade,busservice,othservice,missind,ownership
0,b,1,4,2,6,0,0,0,1,17,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
1,b,1,3,3,6,0,1,1,0,316,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
2,b,1,4,1,6,0,0,0,0,19,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
3,b,1,3,4,6,0,1,0,1,313,...,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,
4,b,1,3,3,22,0,0,0,0,313,...,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,Nonprofit

In [13]:
# Question 1, what test is appropriate for this problem? Does CLT apply?
# A hypothesis test would be appropriate.
# In order for CLT to apply:
# - the population size should be "large" enough
# - the population should resemble a normal distribution; n*p >= 10 and n*(1-p) >=10
# population size n:
n= len(data[data.race=='b'].call)
# probability p for black sounding names being called back:
p = sum(data[data.race=='b'].call)/len(data[data.race=='b'].call)
print(n*p)
print(n*(1-p))
# Hence population size is large enough and both n*p >= 10 and n*(1-p) >= 10. CLT applies.

157.0
2278.0

In [6]:
# Question 2, what are the null and alternate hypotheses?
# Null hypothesis H0: probability for callback for black sounding names = probability for callback for white sounding names
# Alt. hypothesis H1: probability for callback for black sounding names != probability for callback for white sounding names

In [47]:
# Question 3, compute margin of error, confidence interval, and p-value.
# Let's create two data frames, one for black and one for white sounding names
df_w = data[data.race=='w']
df_b = data[data.race=='b']
b_count = len(df_b)
w_count = len(df_w)
print(b_count)
print(w_count)
# Calculate mean xmean, standard deviation sdev and standard error SE
# black sounding names:
b_mean, b_sdev, b_SE = df_b.call.mean(), df_b.call.std(), stats.sem(df_b.call)
# white sounding names
w_mean, w_sdev, w_SE = df_w.call.mean(), df_w.call.std(), stats.sem(df_w.call)
print (b_mean, b_sdev, b_SE)
print (w_mean, w_sdev, w_SE)

2435
2435
0.0644763857126236 0.24564945697784424 0.00497814343529
0.09650924056768417 0.2953455150127411 0.0059853013975

In [60]:
# Calculate standard error over both populations:
SE = np.sqrt(np.square(b_SE)/b_count)+(np.square(w_SE)/w_count)
# If we assume 95 percent reliability, the confidence interval is:
ME = 1.96 * SE
# CI = (w_mean - b_mean - ME, w_mean - b_mean+ ME)
ME

0.00019775948576846548

In [62]:
#Calculate p-value P:
Z = (w_mean - b_mean)/SE
P = stats.norm.sf(abs(Z))*2
P

0.0

In [ ]:
# Probability turns out to be much smaller than a significance level of 0.05
# Hence we can reject our null hypothesis.
# Meaning it is unlikely that someone with a black sounding name has the same chance of getting a callback 
# as someone with a white sounding name.
# That does not automatically mean that this is due to racial discrimination. Further analysis is suggested.